{% extends 'AdminLTE/base.html' %}
{% load crispy_forms_tags %}


{% block style %}
.col-md-10 {
    margin: auto;
    margin-top: 40px;
}
{% endblock style %}


{% block content %}
    <div class="col-md-10">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">تغییر رمز عبور</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-md-12 pr-1">
                        <div class="form-group">
                            <div id="div_id_username" class="form-group">
                                <div class="">
                                    {{ form.old_password|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div id="div_id_first_name" class="form-group">
                                <div class="">
                                    {{ form.new_password1|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <div id="div_id_last_name" class="form-group">
                                <div class="">
                                    {{ form.new_password2|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="#">تغییر رمز عبور</a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right">بروزرسانی پروفایل
                </button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}