{% extends 'AdminLTE/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load gravatar %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="card-image">
                            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&amp;fm=jpg&amp;h=300&amp;q=75&amp;w=400"
                                 alt="...">
                        </div>
                        <div class="card-body">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" src="{% gravatar_url user.email 150 %}"
                                         alt="...">
                                    <h5 class="title">{{ user.get_full_name }}</h5>
                                </a>
                                <p class="description">
                                    مشاور
                                </p>
                            </div>
                            <p class="description text-center">
                                نام کاربری: {{ user.username }}
                            </p>
                            <p class="description text-center">
                                ایمیل: {{ user.email }}
                            </p>
                        </div>
                        <hr>
                        <div class="button-container mr-auto ml-auto">
                            <button href="#" class="btn btn-simple btn-link btn-icon">
                            </button>
                            <button href="#" class="btn btn-simple btn-link btn-icon">
                            </button>
                            <button href="#" class="btn btn-simple btn-link btn-icon">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">ویرایش پروفایل</h4>
                        </div>
                        <div class="card-body">
                            <form method="post">{% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>نام کاربری</label>
                                            {{ form.username|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 px-1">
                                        <div class="form-group">
                                            <label>ایمیل</label>
                                            {{ form.email|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>نام</label>
                                            {{ form.first_name|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>نام خانوادگی</label>
                                            {{ form.last_name|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <a href="#">تغییر رمز عبور</a>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info btn-fill pull-right">بروزرسانی پروفایل
                                </button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}