{% load static %}
<div id="car-control">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for image in property.images.all %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100 car-pic"
                         alt="...">
                </div>
            {% endfor %}
            {#            <div class="carousel-item active">#}
            {#                <img src="{% static 'dealing_app/images/building.jpg' %}" class="d-block w-100 car-pic" alt="...">#}
            {#            </div>#}
            {#            <div class="carousel-item">#}
            {#                <img src="{% static 'dealing_app/images/building2.jpg' %}" class="d-block w-100 car-pic" alt="...">#}
            {#            </div>#}
            {#            <div class="carousel-item">#}
            {#                <img src="{% static 'dealing_app/images/hero_1.jpg' %}" class="d-block w-100 car-pic" alt="...">#}
            {#            </div>#}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>